<div class="jumbotron">
    <h2>Сервис штрафов</h2>
    <p class="lead">Данный сервис создан на платформе асп.нет. Данное веб приложение позволяет вести базу данных шрафов за нарушение правил дорожного движения.</p>
    <p class="lead">This service is created on the asp.net platform. This web application allows you to maintain a database of fines for traffic laws.</p>
    </div>
<div class="row">
    <div class="col-md-4">
        <h2>Микросервис Владелец</h2>
        <p>Данные о владельце траснпортного средства (ФИО, адрес, телефон) нарушевшем правила дорожного движения</p>
    </div>
    <div class="col-md-4">
        <h2>Микросервис транспортное средство</h2>
        <p>Данные о транспортном средстве (тип, марка, модель, VIN, госномер), на котором было совершено нарушение</p>
    </div>
    <div class="col-md-4">
        <h2>Микросервис Штрафы</h2>
        <p>Данные о виде штрафа и его зармере</p>
    </div>
</div>
